@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    overflow: scroll;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.box {
    height: 100%;
    width: 100%;
}
.htotal {
    text-align: center;
    font-family: 'Paytone One';
    font-size: 50px;
    color: #fff;
    text-shadow: 10px 5px #08004d;
    margin-bottom: 142px;
}

.second-box {
    height: 100%;
    width: 100%;
}
.imgme {
    width: 100%;
}
.spoun {
    font-family: 'Lilita One', cursive;
    color: #fceb4c;
}
.me {
    height: 200px;
    display: flex;
    margin: auto;
    stroke-dashoffset: -1120;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}
nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.imglogo {
    height: 80px;
    margin-left: 37px;
    margin-top: 20px;
}
.navbar {
    display: flex;
    text-align: center;
    gap: 20px;
    margin-right: 20px;
    color: black;
    margin-bottom: 25px;
}
.title2 {
    text-align: center;
    font-family: 'Paytone One';
    font-size: 50px;
    margin-top: 200px;
    color: #fff;
    text-shadow: 10px 5px #08004d;
}
h1 {
    text-align: center;
    font-family: 'Paytone One';
    font-size: 50px;

    color: #fff;
    text-shadow: 10px 5px #08004d;
    margin-bottom: 80px;
}
header {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 25px;
}
.nov {
    margin-right: 10px;
}
.img1 {
    width: 14%;
}
.sub {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 35px;
    margin-top: 14px;
    width: 50%;
    line-height: 24px;
}
.subi {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: -18px;
    margin-bottom: 78px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: -600px; /* Espacement entre les colonnes */
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 45px;
}

.container {
    height: 200px;
    display: flex;
    margin-top: 67px;
    stroke-dashoffset: -1120;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.description {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    margin-left: 21px;
    font-weight: 700;
    margin-top: -55px;
    color: #fff;
    text-align: center;
}
/* Code for the background*/
html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 799px 789px #fff, 474px 1824px #fff, 834px 1948px #fff,
        1476px 175px #fff, 1893px 974px #fff, 495px 486px #fff, 926px 935px #fff,
        154px 1100px #fff, 736px 1767px #fff, 303px 1554px #fff,
        265px 223px #fff, 1008px 610px #fff, 956px 866px #fff, 300px 1788px #fff,
        787px 1014px #fff, 382px 510px #fff, 1824px 1035px #fff,
        1616px 548px #fff, 76px 642px #fff, 22px 1812px #fff, 663px 1737px #fff,
        1210px 795px #fff, 883px 323px #fff, 348px 471px #fff, 846px 1773px #fff,
        254px 1342px #fff, 247px 912px #fff, 1131px 1738px #fff,
        783px 1975px #fff, 374px 1253px #fff, 1146px 180px #fff,
        1202px 1454px #fff, 1292px 1406px #fff, 1128px 191px #fff,
        230px 123px #fff, 509px 239px #fff, 70px 1723px #fff, 1967px 205px #fff,
        1872px 1024px #fff, 1054px 1254px #fff, 468px 1308px #fff,
        587px 1350px #fff, 266px 948px #fff, 1267px 706px #fff,
        1145px 1612px #fff, 1445px 1563px #fff, 1183px 1512px #fff,
        5px 1184px #fff, 265px 708px #fff, 490px 660px #fff, 1713px 365px #fff,
        860px 1854px #fff, 939px 1318px #fff, 592px 1010px #fff,
        1670px 1012px #fff, 87px 273px #fff, 1524px 1628px #fff,
        730px 231px #fff, 1350px 1514px #fff, 1389px 1977px #fff,
        662px 1958px #fff, 142px 527px #fff, 1125px 126px #fff,
        1176px 489px #fff, 1984px 1834px #fff, 320px 1647px #fff,
        1722px 1689px #fff, 1988px 513px #fff, 660px 1232px #fff,
        1008px 493px #fff, 1789px 1886px #fff, 1156px 1374px #fff,
        231px 572px #fff, 1903px 505px #fff, 87px 1706px #fff, 1706px 677px #fff,
        747px 1855px #fff, 1667px 1849px #fff, 1808px 1706px #fff,
        1097px 1960px #fff, 758px 1285px #fff, 1495px 1481px #fff,
        1194px 1824px #fff, 1512px 1274px #fff, 1813px 673px #fff,
        197px 25px #fff, 597px 1974px #fff, 951px 92px #fff, 551px 867px #fff,
        1630px 437px #fff, 1743px 1696px #fff, 68px 618px #fff,
        167px 1631px #fff, 380px 132px #fff, 1217px 1889px #fff,
        1431px 1799px #fff, 237px 266px #fff, 784px 1265px #fff,
        1476px 397px #fff, 1871px 740px #fff, 1526px 1916px #fff,
        1368px 1224px #fff, 1195px 59px #fff, 1824px 1784px #fff,
        1303px 1753px #fff, 1947px 1005px #fff, 118px 1844px #fff,
        965px 522px #fff, 1513px 146px #fff, 1343px 467px #fff,
        1798px 920px #fff, 1884px 1338px #fff, 1940px 471px #fff,
        862px 1850px #fff, 1234px 358px #fff, 1259px 497px #fff,
        1894px 1709px #fff, 538px 177px #fff, 1535px 1350px #fff,
        1145px 1375px #fff, 238px 115px #fff, 10px 396px #fff, 1516px 773px #fff,
        1555px 1995px #fff, 969px 244px #fff, 1976px 175px #fff,
        352px 975px #fff, 1765px 1530px #fff, 994px 1374px #fff,
        1003px 1427px #fff, 1566px 1519px #fff, 1312px 703px #fff,
        1600px 933px #fff, 883px 1318px #fff, 1218px 1565px #fff,
        710px 17px #fff, 209px 564px #fff, 1721px 1276px #fff, 1654px 53px #fff,
        458px 352px #fff, 266px 1284px #fff, 1414px 1937px #fff,
        517px 1048px #fff, 1903px 1521px #fff, 80px 1565px #fff,
        768px 1872px #fff, 1909px 195px #fff, 411px 1904px #fff,
        468px 1360px #fff, 1081px 438px #fff, 1427px 1754px #fff,
        1262px 1755px #fff, 517px 1032px #fff, 1739px 872px #fff,
        44px 208px #fff, 1893px 881px #fff, 489px 774px #fff, 981px 746px #fff,
        295px 1861px #fff, 150px 2px #fff, 1155px 1708px #fff, 216px 628px #fff,
        707px 891px #fff, 745px 1233px #fff, 147px 885px #fff,
        1074px 1615px #fff, 1864px 1642px #fff, 1072px 1372px #fff,
        1327px 1881px #fff, 1299px 347px #fff, 977px 1540px #fff,
        1452px 767px #fff, 603px 857px #fff, 1551px 612px #fff,
        347px 1191px #fff, 711px 1382px #fff, 1612px 696px #fff,
        1551px 1055px #fff, 513px 1928px #fff, 1753px 1804px #fff,
        1376px 477px #fff, 1469px 181px #fff, 253px 440px #fff, 51px 1524px #fff,
        469px 1656px #fff, 1875px 882px #fff, 1038px 1164px #fff,
        210px 1120px #fff, 604px 755px #fff, 1095px 1458px #fff,
        668px 1156px #fff, 442px 302px #fff, 1917px 214px #fff,
        364px 1560px #fff, 1008px 986px #fff, 434px 927px #fff,
        1613px 789px #fff, 349px 500px #fff, 1712px 1516px #fff,
        941px 1060px #fff, 1629px 1267px #fff, 1529px 1819px #fff,
        1115px 296px #fff, 1011px 1069px #fff, 965px 1855px #fff,
        1302px 1708px #fff, 344px 723px #fff, 881px 379px #fff, 27px 1322px #fff,
        835px 1778px #fff, 1069px 91px #fff, 1654px 359px #fff,
        1213px 1971px #fff, 96px 1411px #fff, 859px 529px #fff, 1591px 53px #fff,
        1808px 1407px #fff, 1461px 871px #fff, 990px 383px #fff, 180px 45px #fff,
        656px 1003px #fff, 388px 1052px #fff, 84px 621px #fff,
        1231px 1665px #fff, 738px 29px #fff, 1775px 172px #fff,
        1262px 1831px #fff, 109px 354px #fff, 952px 527px #fff, 104px 29px #fff,
        857px 571px #fff, 257px 450px #fff, 1383px 532px #fff, 649px 1428px #fff,
        1204px 1319px #fff, 454px 193px #fff, 1676px 1968px #fff,
        1358px 71px #fff, 1186px 1120px #fff, 1664px 1062px #fff,
        1608px 542px #fff, 120px 890px #fff, 532px 239px #fff, 1612px 673px #fff,
        638px 1909px #fff, 1484px 46px #fff, 1186px 948px #fff,
        1721px 201px #fff, 490px 1629px #fff, 599px 958px #fff,
        995px 1302px #fff, 1020px 693px #fff, 132px 184px #fff,
        1777px 917px #fff, 1316px 652px #fff, 1623px 208px #fff,
        1511px 822px #fff, 51px 1617px #fff, 1813px 404px #fff,
        1090px 762px #fff, 559px 120px #fff, 1038px 1381px #fff,
        88px 1561px #fff, 1527px 820px #fff, 419px 519px #fff, 1142px 998px #fff,
        1190px 1922px #fff, 1315px 1163px #fff, 1962px 346px #fff,
        1512px 341px #fff, 525px 1863px #fff, 1701px 1218px #fff,
        326px 264px #fff, 664px 546px #fff, 544px 990px #fff, 54px 613px #fff,
        1654px 979px #fff, 846px 904px #fff, 1037px 1033px #fff,
        984px 1992px #fff, 1495px 1558px #fff, 374px 588px #fff,
        825px 298px #fff, 848px 1495px #fff, 1880px 369px #fff, 314px 275px #fff,
        484px 1328px #fff, 1924px 90px #fff, 313px 724px #fff, 172px 1957px #fff,
        1435px 1279px #fff, 172px 1998px #fff, 1528px 117px #fff,
        1245px 509px #fff, 754px 275px #fff, 607px 1613px #fff, 328px 193px #fff,
        588px 1500px #fff, 7px 837px #fff, 1911px 1070px #fff,
        1181px 1179px #fff, 1760px 290px #fff, 503px 1962px #fff,
        1896px 928px #fff, 1451px 842px #fff, 217px 1738px #fff,
        493px 1984px #fff, 747px 590px #fff, 1437px 983px #fff,
        485px 1930px #fff, 1797px 603px #fff, 1159px 1339px #fff,
        1990px 988px #fff, 109px 426px #fff, 1873px 71px #fff, 1872px 657px #fff,
        150px 1762px #fff, 938px 746px #fff, 195px 1058px #fff,
        331px 1375px #fff, 1532px 560px #fff, 704px 1521px #fff,
        1450px 1648px #fff, 221px 1984px #fff, 760px 1842px #fff,
        1901px 1635px #fff, 137px 1935px #fff, 772px 1475px #fff,
        11px 1778px #fff, 433px 1998px #fff, 1617px 83px #fff, 1230px 425px #fff,
        1547px 275px #fff, 1544px 388px #fff, 39px 1612px #fff,
        875px 1455px #fff, 480px 1916px #fff, 334px 942px #fff,
        1756px 1426px #fff, 1805px 156px #fff, 21px 1882px #fff,
        1662px 1504px #fff, 593px 1499px #fff, 1739px 668px #fff,
        1825px 535px #fff, 427px 1350px #fff, 1012px 1366px #fff,
        821px 427px #fff, 86px 167px #fff, 1593px 1148px #fff, 632px 1349px #fff,
        316px 1430px #fff, 1246px 687px #fff, 1445px 1048px #fff,
        698px 925px #fff, 488px 331px #fff, 368px 157px #fff, 678px 1334px #fff,
        224px 456px #fff, 1376px 545px #fff, 524px 199px #fff, 1360px 634px #fff,
        501px 856px #fff, 1331px 1206px #fff, 1195px 1690px #fff,
        498px 550px #fff, 261px 1385px #fff, 647px 981px #fff, 1781px 127px #fff,
        794px 25px #fff, 1633px 838px #fff, 783px 61px #fff, 1619px 352px #fff,
        1076px 49px #fff, 1313px 1126px #fff, 1473px 1261px #fff,
        1442px 935px #fff, 320px 417px #fff, 1252px 116px #fff,
        142px 1249px #fff, 1727px 1651px #fff, 1035px 1428px #fff,
        1691px 1267px #fff, 407px 239px #fff, 1653px 924px #fff,
        742px 1813px #fff, 786px 197px #fff, 568px 158px #fff, 1397px 7px #fff,
        1424px 1319px #fff, 1497px 1051px #fff, 841px 1419px #fff,
        1070px 17px #fff, 1510px 300px #fff, 439px 1363px #fff,
        104px 1549px #fff, 218px 239px #fff, 391px 1079px #fff, 816px 958px #fff,
        253px 1504px #fff, 120px 1632px #fff, 74px 1194px #fff,
        1780px 1166px #fff, 1375px 249px #fff, 1708px 23px #fff,
        668px 1245px #fff, 731px 414px #fff, 188px 1663px #fff,
        829px 1201px #fff, 1637px 1780px #fff, 962px 1537px #fff,
        1093px 440px #fff, 1782px 127px #fff, 462px 506px #fff,
        594px 1429px #fff, 455px 227px #fff, 47px 1322px #fff,
        1304px 1881px #fff, 340px 190px #fff, 731px 678px #fff, 92px 711px #fff,
        1830px 1715px #fff, 245px 1838px #fff, 881px 422px #fff,
        1300px 948px #fff, 145px 292px #fff, 285px 927px #fff,
        1048px 1589px #fff, 136px 405px #fff, 143px 200px #fff,
        937px 1177px #fff, 883px 1272px #fff, 1720px 635px #fff, 7px 1979px #fff,
        424px 277px #fff, 1833px 713px #fff, 56px 1848px #fff,
        1265px 1743px #fff, 264px 910px #fff, 1570px 1000px #fff,
        1301px 784px #fff, 122px 1011px #fff, 1104px 334px #fff,
        202px 102px #fff, 526px 971px #fff, 1137px 1658px #fff,
        1371px 375px #fff, 134px 879px #fff, 426px 1510px #fff, 725px 225px #fff,
        1426px 907px #fff, 1600px 567px #fff, 939px 181px #fff,
        1986px 1915px #fff, 1402px 36px #fff, 1226px 1702px #fff,
        100px 140px #fff, 512px 954px #fff, 1659px 481px #fff, 507px 548px #fff,
        319px 493px #fff, 817px 1342px #fff, 384px 914px #fff,
        1543px 1024px #fff, 35px 1352px #fff, 1341px 513px #fff,
        1569px 1817px #fff, 172px 426px #fff, 1968px 122px #fff,
        272px 1274px #fff, 141px 1956px #fff, 1617px 1629px #fff,
        1180px 1051px #fff, 301px 787px #fff, 796px 425px #fff,
        1804px 1709px #fff, 746px 1676px #fff, 1151px 1326px #fff,
        1081px 1406px #fff, 1348px 1827px #fff, 501px 1614px #fff,
        260px 632px #fff, 1311px 699px #fff, 258px 1711px #fff,
        1312px 1427px #fff, 708px 1694px #fff, 1051px 1381px #fff,
        19px 1347px #fff, 943px 1476px #fff, 1889px 630px #fff, 422px 504px #fff,
        6px 123px #fff, 1900px 897px #fff, 753px 441px #fff, 1288px 836px #fff,
        1324px 892px #fff, 850px 1605px #fff, 1413px 662px #fff,
        949px 276px #fff, 562px 227px #fff, 13px 1138px #fff, 1531px 608px #fff,
        517px 139px #fff, 735px 249px #fff, 1558px 1643px #fff,
        1314px 464px #fff, 1623px 1080px #fff, 1699px 1062px #fff,
        1310px 383px #fff, 1897px 8px #fff, 1358px 537px #fff, 600px 55px #fff,
        1232px 290px #fff, 600px 1724px #fff, 752px 473px #fff, 783px 385px #fff,
        1483px 638px #fff, 491px 970px #fff, 451px 1569px #fff,
        1795px 332px #fff, 705px 1786px #fff, 369px 1809px #fff,
        965px 138px #fff, 1461px 903px #fff, 1098px 1865px #fff, 8px 516px #fff,
        378px 806px #fff, 859px 997px #fff, 1771px 1573px #fff,
        1153px 199px #fff, 604px 1071px #fff, 623px 1148px #fff,
        1426px 1845px #fff, 508px 634px #fff, 828px 1925px #fff,
        918px 1805px #fff, 394px 874px #fff, 288px 536px #fff, 288px 496px #fff,
        315px 648px #fff, 438px 1017px #fff, 1894px 356px #fff,
        712px 1247px #fff, 244px 969px #fff, 1660px 793px #fff, 292px 701px #fff,
        446px 139px #fff, 1007px 1241px #fff, 1538px 1495px #fff,
        380px 1261px #fff, 1105px 1813px #fff, 1775px 745px #fff,
        1412px 1838px #fff, 551px 1639px #fff, 1727px 799px #fff,
        1707px 1171px #fff, 1280px 1843px #fff, 1808px 1916px #fff,
        454px 1871px #fff, 1498px 516px #fff, 855px 1160px #fff,
        1933px 867px #fff, 928px 174px #fff, 64px 831px #fff, 1100px 528px #fff,
        454px 1553px #fff, 527px 1705px #fff, 1480px 669px #fff,
        1090px 1233px #fff, 1783px 1713px #fff, 3px 104px #fff,
        1031px 1228px #fff, 1951px 1673px #fff, 1364px 469px #fff,
        1853px 1990px #fff, 1002px 1205px #fff, 1602px 1447px #fff,
        168px 19px #fff, 1741px 1141px #fff, 254px 1033px #fff,
        725px 1819px #fff, 805px 239px #fff, 407px 1465px #fff, 494px 530px #fff,
        103px 926px #fff, 1960px 1483px #fff, 1930px 1518px #fff,
        1069px 1264px #fff, 1833px 719px #fff, 781px 380px #fff,
        1605px 1089px #fff, 1537px 1931px #fff, 838px 945px #fff,
        1929px 958px #fff, 1151px 51px #fff, 1465px 214px #fff, 827px 227px #fff,
        1535px 1118px #fff, 66px 141px #fff, 1407px 1728px #fff,
        1525px 1246px #fff, 1033px 425px #fff, 340px 687px #fff,
        633px 1982px #fff, 378px 1511px #fff, 1631px 1594px #fff,
        570px 1774px #fff, 658px 1567px #fff, 1577px 140px #fff,
        1851px 317px #fff, 710px 602px #fff, 1706px 288px #fff, 777px 476px #fff,
        132px 499px #fff, 833px 1228px #fff, 695px 958px #fff, 987px 356px #fff,
        223px 644px #fff, 874px 540px #fff, 191px 1600px #fff, 1367px 835px #fff,
        1370px 40px #fff, 1907px 1103px #fff, 465px 1792px #fff,
        1335px 272px #fff, 147px 1112px #fff, 1982px 1190px #fff,
        34px 1667px #fff, 1114px 1420px #fff, 720px 141px #fff,
        100px 1103px #fff, 966px 1374px #fff, 1134px 4px #fff, 802px 761px #fff,
        1109px 369px #fff, 1498px 1439px #fff, 857px 43px #fff,
        246px 1162px #fff, 146px 266px #fff, 1507px 1059px #fff,
        642px 1655px #fff, 675px 1365px #fff, 150px 136px #fff,
        360px 1259px #fff, 1824px 1007px #fff, 1418px 341px #fff,
        1262px 628px #fff, 1669px 1901px #fff, 853px 1822px #fff,
        585px 470px #fff, 880px 618px #fff, 670px 482px #fff, 703px 321px #fff,
        1272px 337px #fff, 139px 1057px #fff, 1441px 870px #fff,
        1440px 1240px #fff, 518px 1726px #fff, 38px 1437px #fff,
        390px 1159px #fff, 1124px 1296px #fff, 271px 1305px #fff,
        788px 1757px #fff, 1199px 1878px #fff, 494px 1741px #fff,
        115px 1215px #fff, 1904px 363px #fff, 1485px 1455px #fff,
        1772px 1791px #fff, 1950px 272px #fff, 774px 1424px #fff,
        623px 398px #fff, 441px 1114px #fff, 487px 1521px #fff,
        1564px 585px #fff, 258px 345px #fff, 1452px 1199px #fff,
        1211px 1189px #fff, 1419px 1912px #fff, 99px 1607px #fff,
        224px 328px #fff, 499px 1917px #fff, 806px 1620px #fff,
        1292px 1617px #fff, 451px 1640px #fff, 1396px 1578px #fff,
        1379px 18px #fff, 452px 1584px #fff, 1312px 1906px #fff,
        1227px 520px #fff, 229px 1852px #fff, 1798px 1982px #fff,
        1598px 982px #fff, 1928px 1602px #fff, 1388px 1671px #fff,
        341px 630px #fff, 995px 1440px #fff, 60px 1797px #fff,
        1089px 1690px #fff, 1132px 826px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 799px 789px #fff, 474px 1824px #fff, 834px 1948px #fff,
        1476px 175px #fff, 1893px 974px #fff, 495px 486px #fff, 926px 935px #fff,
        154px 1100px #fff, 736px 1767px #fff, 303px 1554px #fff,
        265px 223px #fff, 1008px 610px #fff, 956px 866px #fff, 300px 1788px #fff,
        787px 1014px #fff, 382px 510px #fff, 1824px 1035px #fff,
        1616px 548px #fff, 76px 642px #fff, 22px 1812px #fff, 663px 1737px #fff,
        1210px 795px #fff, 883px 323px #fff, 348px 471px #fff, 846px 1773px #fff,
        254px 1342px #fff, 247px 912px #fff, 1131px 1738px #fff,
        783px 1975px #fff, 374px 1253px #fff, 1146px 180px #fff,
        1202px 1454px #fff, 1292px 1406px #fff, 1128px 191px #fff,
        230px 123px #fff, 509px 239px #fff, 70px 1723px #fff, 1967px 205px #fff,
        1872px 1024px #fff, 1054px 1254px #fff, 468px 1308px #fff,
        587px 1350px #fff, 266px 948px #fff, 1267px 706px #fff,
        1145px 1612px #fff, 1445px 1563px #fff, 1183px 1512px #fff,
        5px 1184px #fff, 265px 708px #fff, 490px 660px #fff, 1713px 365px #fff,
        860px 1854px #fff, 939px 1318px #fff, 592px 1010px #fff,
        1670px 1012px #fff, 87px 273px #fff, 1524px 1628px #fff,
        730px 231px #fff, 1350px 1514px #fff, 1389px 1977px #fff,
        662px 1958px #fff, 142px 527px #fff, 1125px 126px #fff,
        1176px 489px #fff, 1984px 1834px #fff, 320px 1647px #fff,
        1722px 1689px #fff, 1988px 513px #fff, 660px 1232px #fff,
        1008px 493px #fff, 1789px 1886px #fff, 1156px 1374px #fff,
        231px 572px #fff, 1903px 505px #fff, 87px 1706px #fff, 1706px 677px #fff,
        747px 1855px #fff, 1667px 1849px #fff, 1808px 1706px #fff,
        1097px 1960px #fff, 758px 1285px #fff, 1495px 1481px #fff,
        1194px 1824px #fff, 1512px 1274px #fff, 1813px 673px #fff,
        197px 25px #fff, 597px 1974px #fff, 951px 92px #fff, 551px 867px #fff,
        1630px 437px #fff, 1743px 1696px #fff, 68px 618px #fff,
        167px 1631px #fff, 380px 132px #fff, 1217px 1889px #fff,
        1431px 1799px #fff, 237px 266px #fff, 784px 1265px #fff,
        1476px 397px #fff, 1871px 740px #fff, 1526px 1916px #fff,
        1368px 1224px #fff, 1195px 59px #fff, 1824px 1784px #fff,
        1303px 1753px #fff, 1947px 1005px #fff, 118px 1844px #fff,
        965px 522px #fff, 1513px 146px #fff, 1343px 467px #fff,
        1798px 920px #fff, 1884px 1338px #fff, 1940px 471px #fff,
        862px 1850px #fff, 1234px 358px #fff, 1259px 497px #fff,
        1894px 1709px #fff, 538px 177px #fff, 1535px 1350px #fff,
        1145px 1375px #fff, 238px 115px #fff, 10px 396px #fff, 1516px 773px #fff,
        1555px 1995px #fff, 969px 244px #fff, 1976px 175px #fff,
        352px 975px #fff, 1765px 1530px #fff, 994px 1374px #fff,
        1003px 1427px #fff, 1566px 1519px #fff, 1312px 703px #fff,
        1600px 933px #fff, 883px 1318px #fff, 1218px 1565px #fff,
        710px 17px #fff, 209px 564px #fff, 1721px 1276px #fff, 1654px 53px #fff,
        458px 352px #fff, 266px 1284px #fff, 1414px 1937px #fff,
        517px 1048px #fff, 1903px 1521px #fff, 80px 1565px #fff,
        768px 1872px #fff, 1909px 195px #fff, 411px 1904px #fff,
        468px 1360px #fff, 1081px 438px #fff, 1427px 1754px #fff,
        1262px 1755px #fff, 517px 1032px #fff, 1739px 872px #fff,
        44px 208px #fff, 1893px 881px #fff, 489px 774px #fff, 981px 746px #fff,
        295px 1861px #fff, 150px 2px #fff, 1155px 1708px #fff, 216px 628px #fff,
        707px 891px #fff, 745px 1233px #fff, 147px 885px #fff,
        1074px 1615px #fff, 1864px 1642px #fff, 1072px 1372px #fff,
        1327px 1881px #fff, 1299px 347px #fff, 977px 1540px #fff,
        1452px 767px #fff, 603px 857px #fff, 1551px 612px #fff,
        347px 1191px #fff, 711px 1382px #fff, 1612px 696px #fff,
        1551px 1055px #fff, 513px 1928px #fff, 1753px 1804px #fff,
        1376px 477px #fff, 1469px 181px #fff, 253px 440px #fff, 51px 1524px #fff,
        469px 1656px #fff, 1875px 882px #fff, 1038px 1164px #fff,
        210px 1120px #fff, 604px 755px #fff, 1095px 1458px #fff,
        668px 1156px #fff, 442px 302px #fff, 1917px 214px #fff,
        364px 1560px #fff, 1008px 986px #fff, 434px 927px #fff,
        1613px 789px #fff, 349px 500px #fff, 1712px 1516px #fff,
        941px 1060px #fff, 1629px 1267px #fff, 1529px 1819px #fff,
        1115px 296px #fff, 1011px 1069px #fff, 965px 1855px #fff,
        1302px 1708px #fff, 344px 723px #fff, 881px 379px #fff, 27px 1322px #fff,
        835px 1778px #fff, 1069px 91px #fff, 1654px 359px #fff,
        1213px 1971px #fff, 96px 1411px #fff, 859px 529px #fff, 1591px 53px #fff,
        1808px 1407px #fff, 1461px 871px #fff, 990px 383px #fff, 180px 45px #fff,
        656px 1003px #fff, 388px 1052px #fff, 84px 621px #fff,
        1231px 1665px #fff, 738px 29px #fff, 1775px 172px #fff,
        1262px 1831px #fff, 109px 354px #fff, 952px 527px #fff, 104px 29px #fff,
        857px 571px #fff, 257px 450px #fff, 1383px 532px #fff, 649px 1428px #fff,
        1204px 1319px #fff, 454px 193px #fff, 1676px 1968px #fff,
        1358px 71px #fff, 1186px 1120px #fff, 1664px 1062px #fff,
        1608px 542px #fff, 120px 890px #fff, 532px 239px #fff, 1612px 673px #fff,
        638px 1909px #fff, 1484px 46px #fff, 1186px 948px #fff,
        1721px 201px #fff, 490px 1629px #fff, 599px 958px #fff,
        995px 1302px #fff, 1020px 693px #fff, 132px 184px #fff,
        1777px 917px #fff, 1316px 652px #fff, 1623px 208px #fff,
        1511px 822px #fff, 51px 1617px #fff, 1813px 404px #fff,
        1090px 762px #fff, 559px 120px #fff, 1038px 1381px #fff,
        88px 1561px #fff, 1527px 820px #fff, 419px 519px #fff, 1142px 998px #fff,
        1190px 1922px #fff, 1315px 1163px #fff, 1962px 346px #fff,
        1512px 341px #fff, 525px 1863px #fff, 1701px 1218px #fff,
        326px 264px #fff, 664px 546px #fff, 544px 990px #fff, 54px 613px #fff,
        1654px 979px #fff, 846px 904px #fff, 1037px 1033px #fff,
        984px 1992px #fff, 1495px 1558px #fff, 374px 588px #fff,
        825px 298px #fff, 848px 1495px #fff, 1880px 369px #fff, 314px 275px #fff,
        484px 1328px #fff, 1924px 90px #fff, 313px 724px #fff, 172px 1957px #fff,
        1435px 1279px #fff, 172px 1998px #fff, 1528px 117px #fff,
        1245px 509px #fff, 754px 275px #fff, 607px 1613px #fff, 328px 193px #fff,
        588px 1500px #fff, 7px 837px #fff, 1911px 1070px #fff,
        1181px 1179px #fff, 1760px 290px #fff, 503px 1962px #fff,
        1896px 928px #fff, 1451px 842px #fff, 217px 1738px #fff,
        493px 1984px #fff, 747px 590px #fff, 1437px 983px #fff,
        485px 1930px #fff, 1797px 603px #fff, 1159px 1339px #fff,
        1990px 988px #fff, 109px 426px #fff, 1873px 71px #fff, 1872px 657px #fff,
        150px 1762px #fff, 938px 746px #fff, 195px 1058px #fff,
        331px 1375px #fff, 1532px 560px #fff, 704px 1521px #fff,
        1450px 1648px #fff, 221px 1984px #fff, 760px 1842px #fff,
        1901px 1635px #fff, 137px 1935px #fff, 772px 1475px #fff,
        11px 1778px #fff, 433px 1998px #fff, 1617px 83px #fff, 1230px 425px #fff,
        1547px 275px #fff, 1544px 388px #fff, 39px 1612px #fff,
        875px 1455px #fff, 480px 1916px #fff, 334px 942px #fff,
        1756px 1426px #fff, 1805px 156px #fff, 21px 1882px #fff,
        1662px 1504px #fff, 593px 1499px #fff, 1739px 668px #fff,
        1825px 535px #fff, 427px 1350px #fff, 1012px 1366px #fff,
        821px 427px #fff, 86px 167px #fff, 1593px 1148px #fff, 632px 1349px #fff,
        316px 1430px #fff, 1246px 687px #fff, 1445px 1048px #fff,
        698px 925px #fff, 488px 331px #fff, 368px 157px #fff, 678px 1334px #fff,
        224px 456px #fff, 1376px 545px #fff, 524px 199px #fff, 1360px 634px #fff,
        501px 856px #fff, 1331px 1206px #fff, 1195px 1690px #fff,
        498px 550px #fff, 261px 1385px #fff, 647px 981px #fff, 1781px 127px #fff,
        794px 25px #fff, 1633px 838px #fff, 783px 61px #fff, 1619px 352px #fff,
        1076px 49px #fff, 1313px 1126px #fff, 1473px 1261px #fff,
        1442px 935px #fff, 320px 417px #fff, 1252px 116px #fff,
        142px 1249px #fff, 1727px 1651px #fff, 1035px 1428px #fff,
        1691px 1267px #fff, 407px 239px #fff, 1653px 924px #fff,
        742px 1813px #fff, 786px 197px #fff, 568px 158px #fff, 1397px 7px #fff,
        1424px 1319px #fff, 1497px 1051px #fff, 841px 1419px #fff,
        1070px 17px #fff, 1510px 300px #fff, 439px 1363px #fff,
        104px 1549px #fff, 218px 239px #fff, 391px 1079px #fff, 816px 958px #fff,
        253px 1504px #fff, 120px 1632px #fff, 74px 1194px #fff,
        1780px 1166px #fff, 1375px 249px #fff, 1708px 23px #fff,
        668px 1245px #fff, 731px 414px #fff, 188px 1663px #fff,
        829px 1201px #fff, 1637px 1780px #fff, 962px 1537px #fff,
        1093px 440px #fff, 1782px 127px #fff, 462px 506px #fff,
        594px 1429px #fff, 455px 227px #fff, 47px 1322px #fff,
        1304px 1881px #fff, 340px 190px #fff, 731px 678px #fff, 92px 711px #fff,
        1830px 1715px #fff, 245px 1838px #fff, 881px 422px #fff,
        1300px 948px #fff, 145px 292px #fff, 285px 927px #fff,
        1048px 1589px #fff, 136px 405px #fff, 143px 200px #fff,
        937px 1177px #fff, 883px 1272px #fff, 1720px 635px #fff, 7px 1979px #fff,
        424px 277px #fff, 1833px 713px #fff, 56px 1848px #fff,
        1265px 1743px #fff, 264px 910px #fff, 1570px 1000px #fff,
        1301px 784px #fff, 122px 1011px #fff, 1104px 334px #fff,
        202px 102px #fff, 526px 971px #fff, 1137px 1658px #fff,
        1371px 375px #fff, 134px 879px #fff, 426px 1510px #fff, 725px 225px #fff,
        1426px 907px #fff, 1600px 567px #fff, 939px 181px #fff,
        1986px 1915px #fff, 1402px 36px #fff, 1226px 1702px #fff,
        100px 140px #fff, 512px 954px #fff, 1659px 481px #fff, 507px 548px #fff,
        319px 493px #fff, 817px 1342px #fff, 384px 914px #fff,
        1543px 1024px #fff, 35px 1352px #fff, 1341px 513px #fff,
        1569px 1817px #fff, 172px 426px #fff, 1968px 122px #fff,
        272px 1274px #fff, 141px 1956px #fff, 1617px 1629px #fff,
        1180px 1051px #fff, 301px 787px #fff, 796px 425px #fff,
        1804px 1709px #fff, 746px 1676px #fff, 1151px 1326px #fff,
        1081px 1406px #fff, 1348px 1827px #fff, 501px 1614px #fff,
        260px 632px #fff, 1311px 699px #fff, 258px 1711px #fff,
        1312px 1427px #fff, 708px 1694px #fff, 1051px 1381px #fff,
        19px 1347px #fff, 943px 1476px #fff, 1889px 630px #fff, 422px 504px #fff,
        6px 123px #fff, 1900px 897px #fff, 753px 441px #fff, 1288px 836px #fff,
        1324px 892px #fff, 850px 1605px #fff, 1413px 662px #fff,
        949px 276px #fff, 562px 227px #fff, 13px 1138px #fff, 1531px 608px #fff,
        517px 139px #fff, 735px 249px #fff, 1558px 1643px #fff,
        1314px 464px #fff, 1623px 1080px #fff, 1699px 1062px #fff,
        1310px 383px #fff, 1897px 8px #fff, 1358px 537px #fff, 600px 55px #fff,
        1232px 290px #fff, 600px 1724px #fff, 752px 473px #fff, 783px 385px #fff,
        1483px 638px #fff, 491px 970px #fff, 451px 1569px #fff,
        1795px 332px #fff, 705px 1786px #fff, 369px 1809px #fff,
        965px 138px #fff, 1461px 903px #fff, 1098px 1865px #fff, 8px 516px #fff,
        378px 806px #fff, 859px 997px #fff, 1771px 1573px #fff,
        1153px 199px #fff, 604px 1071px #fff, 623px 1148px #fff,
        1426px 1845px #fff, 508px 634px #fff, 828px 1925px #fff,
        918px 1805px #fff, 394px 874px #fff, 288px 536px #fff, 288px 496px #fff,
        315px 648px #fff, 438px 1017px #fff, 1894px 356px #fff,
        712px 1247px #fff, 244px 969px #fff, 1660px 793px #fff, 292px 701px #fff,
        446px 139px #fff, 1007px 1241px #fff, 1538px 1495px #fff,
        380px 1261px #fff, 1105px 1813px #fff, 1775px 745px #fff,
        1412px 1838px #fff, 551px 1639px #fff, 1727px 799px #fff,
        1707px 1171px #fff, 1280px 1843px #fff, 1808px 1916px #fff,
        454px 1871px #fff, 1498px 516px #fff, 855px 1160px #fff,
        1933px 867px #fff, 928px 174px #fff, 64px 831px #fff, 1100px 528px #fff,
        454px 1553px #fff, 527px 1705px #fff, 1480px 669px #fff,
        1090px 1233px #fff, 1783px 1713px #fff, 3px 104px #fff,
        1031px 1228px #fff, 1951px 1673px #fff, 1364px 469px #fff,
        1853px 1990px #fff, 1002px 1205px #fff, 1602px 1447px #fff,
        168px 19px #fff, 1741px 1141px #fff, 254px 1033px #fff,
        725px 1819px #fff, 805px 239px #fff, 407px 1465px #fff, 494px 530px #fff,
        103px 926px #fff, 1960px 1483px #fff, 1930px 1518px #fff,
        1069px 1264px #fff, 1833px 719px #fff, 781px 380px #fff,
        1605px 1089px #fff, 1537px 1931px #fff, 838px 945px #fff,
        1929px 958px #fff, 1151px 51px #fff, 1465px 214px #fff, 827px 227px #fff,
        1535px 1118px #fff, 66px 141px #fff, 1407px 1728px #fff,
        1525px 1246px #fff, 1033px 425px #fff, 340px 687px #fff,
        633px 1982px #fff, 378px 1511px #fff, 1631px 1594px #fff,
        570px 1774px #fff, 658px 1567px #fff, 1577px 140px #fff,
        1851px 317px #fff, 710px 602px #fff, 1706px 288px #fff, 777px 476px #fff,
        132px 499px #fff, 833px 1228px #fff, 695px 958px #fff, 987px 356px #fff,
        223px 644px #fff, 874px 540px #fff, 191px 1600px #fff, 1367px 835px #fff,
        1370px 40px #fff, 1907px 1103px #fff, 465px 1792px #fff,
        1335px 272px #fff, 147px 1112px #fff, 1982px 1190px #fff,
        34px 1667px #fff, 1114px 1420px #fff, 720px 141px #fff,
        100px 1103px #fff, 966px 1374px #fff, 1134px 4px #fff, 802px 761px #fff,
        1109px 369px #fff, 1498px 1439px #fff, 857px 43px #fff,
        246px 1162px #fff, 146px 266px #fff, 1507px 1059px #fff,
        642px 1655px #fff, 675px 1365px #fff, 150px 136px #fff,
        360px 1259px #fff, 1824px 1007px #fff, 1418px 341px #fff,
        1262px 628px #fff, 1669px 1901px #fff, 853px 1822px #fff,
        585px 470px #fff, 880px 618px #fff, 670px 482px #fff, 703px 321px #fff,
        1272px 337px #fff, 139px 1057px #fff, 1441px 870px #fff,
        1440px 1240px #fff, 518px 1726px #fff, 38px 1437px #fff,
        390px 1159px #fff, 1124px 1296px #fff, 271px 1305px #fff,
        788px 1757px #fff, 1199px 1878px #fff, 494px 1741px #fff,
        115px 1215px #fff, 1904px 363px #fff, 1485px 1455px #fff,
        1772px 1791px #fff, 1950px 272px #fff, 774px 1424px #fff,
        623px 398px #fff, 441px 1114px #fff, 487px 1521px #fff,
        1564px 585px #fff, 258px 345px #fff, 1452px 1199px #fff,
        1211px 1189px #fff, 1419px 1912px #fff, 99px 1607px #fff,
        224px 328px #fff, 499px 1917px #fff, 806px 1620px #fff,
        1292px 1617px #fff, 451px 1640px #fff, 1396px 1578px #fff,
        1379px 18px #fff, 452px 1584px #fff, 1312px 1906px #fff,
        1227px 520px #fff, 229px 1852px #fff, 1798px 1982px #fff,
        1598px 982px #fff, 1928px 1602px #fff, 1388px 1671px #fff,
        341px 630px #fff, 995px 1440px #fff, 60px 1797px #fff,
        1089px 1690px #fff, 1132px 826px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 880px 1281px #fff, 1829px 393px #fff, 684px 1303px #fff,
        177px 746px #fff, 615px 958px #fff, 708px 1206px #fff, 680px 1008px #fff,
        1419px 653px #fff, 1955px 1136px #fff, 1206px 385px #fff,
        1095px 1441px #fff, 1612px 499px #fff, 1507px 760px #fff,
        1593px 1760px #fff, 967px 1356px #fff, 348px 959px #fff,
        806px 633px #fff, 322px 1863px #fff, 1112px 702px #fff, 132px 314px #fff,
        1635px 514px #fff, 1340px 1271px #fff, 17px 1664px #fff,
        1924px 210px #fff, 99px 702px #fff, 399px 1145px #fff, 339px 1845px #fff,
        1539px 778px #fff, 1464px 578px #fff, 1609px 1418px #fff,
        1688px 1369px #fff, 1231px 473px #fff, 744px 1580px #fff,
        1712px 621px #fff, 1188px 264px #fff, 1204px 1096px #fff,
        938px 742px #fff, 399px 1951px #fff, 69px 1597px #fff, 748px 558px #fff,
        582px 1236px #fff, 503px 757px #fff, 297px 28px #fff, 1483px 535px #fff,
        1470px 1752px #fff, 1770px 987px #fff, 804px 1480px #fff,
        1282px 947px #fff, 606px 592px #fff, 597px 1974px #fff,
        1326px 1625px #fff, 1292px 264px #fff, 715px 1907px #fff,
        254px 1021px #fff, 1746px 1149px #fff, 924px 1927px #fff,
        910px 1733px #fff, 1818px 471px #fff, 1465px 1040px #fff,
        219px 584px #fff, 1497px 817px #fff, 1419px 242px #fff, 666px 422px #fff,
        1787px 1732px #fff, 1172px 1283px #fff, 314px 201px #fff,
        566px 898px #fff, 1698px 1420px #fff, 761px 173px #fff,
        1191px 771px #fff, 419px 284px #fff, 158px 272px #fff, 110px 257px #fff,
        1285px 765px #fff, 705px 174px #fff, 1125px 485px #fff,
        1189px 1735px #fff, 752px 1703px #fff, 800px 1371px #fff,
        524px 1933px #fff, 358px 1332px #fff, 5px 429px #fff, 205px 782px #fff,
        518px 308px #fff, 1971px 1967px #fff, 948px 1896px #fff,
        310px 251px #fff, 702px 1189px #fff, 499px 418px #fff, 1197px 883px #fff,
        135px 1286px #fff, 172px 1375px #fff, 1970px 352px #fff,
        1406px 712px #fff, 1218px 1670px #fff, 992px 1042px #fff,
        1950px 1016px #fff, 905px 1986px #fff, 142px 1970px #fff,
        270px 440px #fff, 1545px 1061px #fff, 1631px 1928px #fff,
        1397px 291px #fff, 1724px 127px #fff, 1237px 375px #fff,
        998px 618px #fff, 1618px 988px #fff, 713px 1172px #fff,
        705px 1532px #fff, 1900px 686px #fff, 81px 1748px #fff,
        1509px 1763px #fff, 1200px 1962px #fff, 728px 1600px #fff,
        1448px 615px #fff, 549px 573px #fff, 641px 1450px #fff,
        1853px 1799px #fff, 366px 1796px #fff, 1658px 978px #fff,
        1437px 1535px #fff, 1775px 1090px #fff, 684px 1933px #fff,
        1314px 935px #fff, 670px 591px #fff, 1936px 73px #fff, 816px 1177px #fff,
        439px 1711px #fff, 892px 1543px #fff, 1420px 1607px #fff,
        537px 1492px #fff, 103px 1341px #fff, 201px 766px #fff,
        934px 1649px #fff, 1671px 1248px #fff, 1389px 666px #fff,
        482px 256px #fff, 1516px 304px #fff, 118px 907px #fff, 1693px 91px #fff,
        1662px 1176px #fff, 1487px 1268px #fff, 26px 571px #fff,
        973px 864px #fff, 653px 1321px #fff, 419px 1317px #fff,
        1638px 1134px #fff, 582px 67px #fff, 1188px 1139px #fff, 218px 54px #fff,
        1889px 1742px #fff, 296px 294px #fff, 558px 1928px #fff,
        1661px 1296px #fff, 745px 1768px #fff, 1540px 939px #fff,
        650px 457px #fff, 83px 224px #fff, 1642px 775px #fff, 807px 1796px #fff,
        1453px 61px #fff, 1214px 1578px #fff, 611px 1642px #fff,
        759px 1757px #fff, 1402px 466px #fff, 598px 474px #fff, 981px 330px #fff,
        92px 28px #fff, 1784px 1269px #fff, 1649px 1212px #fff,
        1966px 853px #fff, 397px 1128px #fff, 1258px 1166px #fff,
        753px 1479px #fff, 854px 72px #fff, 1985px 1525px #fff,
        1577px 1826px #fff, 1789px 959px #fff, 1707px 1320px #fff,
        1211px 626px #fff, 494px 630px #fff, 1322px 897px #fff,
        861px 1102px #fff, 1273px 676px #fff, 1675px 1904px #fff,
        1281px 361px #fff, 1397px 447px #fff, 871px 274px #fff,
        807px 1869px #fff, 1426px 806px #fff, 1632px 1223px #fff,
        1549px 1910px #fff, 1714px 921px #fff, 1216px 1680px #fff,
        1351px 14px #fff, 1255px 1170px #fff, 1754px 676px #fff,
        1337px 329px #fff, 1586px 1260px #fff, 1644px 1981px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 880px 1281px #fff, 1829px 393px #fff, 684px 1303px #fff,
        177px 746px #fff, 615px 958px #fff, 708px 1206px #fff, 680px 1008px #fff,
        1419px 653px #fff, 1955px 1136px #fff, 1206px 385px #fff,
        1095px 1441px #fff, 1612px 499px #fff, 1507px 760px #fff,
        1593px 1760px #fff, 967px 1356px #fff, 348px 959px #fff,
        806px 633px #fff, 322px 1863px #fff, 1112px 702px #fff, 132px 314px #fff,
        1635px 514px #fff, 1340px 1271px #fff, 17px 1664px #fff,
        1924px 210px #fff, 99px 702px #fff, 399px 1145px #fff, 339px 1845px #fff,
        1539px 778px #fff, 1464px 578px #fff, 1609px 1418px #fff,
        1688px 1369px #fff, 1231px 473px #fff, 744px 1580px #fff,
        1712px 621px #fff, 1188px 264px #fff, 1204px 1096px #fff,
        938px 742px #fff, 399px 1951px #fff, 69px 1597px #fff, 748px 558px #fff,
        582px 1236px #fff, 503px 757px #fff, 297px 28px #fff, 1483px 535px #fff,
        1470px 1752px #fff, 1770px 987px #fff, 804px 1480px #fff,
        1282px 947px #fff, 606px 592px #fff, 597px 1974px #fff,
        1326px 1625px #fff, 1292px 264px #fff, 715px 1907px #fff,
        254px 1021px #fff, 1746px 1149px #fff, 924px 1927px #fff,
        910px 1733px #fff, 1818px 471px #fff, 1465px 1040px #fff,
        219px 584px #fff, 1497px 817px #fff, 1419px 242px #fff, 666px 422px #fff,
        1787px 1732px #fff, 1172px 1283px #fff, 314px 201px #fff,
        566px 898px #fff, 1698px 1420px #fff, 761px 173px #fff,
        1191px 771px #fff, 419px 284px #fff, 158px 272px #fff, 110px 257px #fff,
        1285px 765px #fff, 705px 174px #fff, 1125px 485px #fff,
        1189px 1735px #fff, 752px 1703px #fff, 800px 1371px #fff,
        524px 1933px #fff, 358px 1332px #fff, 5px 429px #fff, 205px 782px #fff,
        518px 308px #fff, 1971px 1967px #fff, 948px 1896px #fff,
        310px 251px #fff, 702px 1189px #fff, 499px 418px #fff, 1197px 883px #fff,
        135px 1286px #fff, 172px 1375px #fff, 1970px 352px #fff,
        1406px 712px #fff, 1218px 1670px #fff, 992px 1042px #fff,
        1950px 1016px #fff, 905px 1986px #fff, 142px 1970px #fff,
        270px 440px #fff, 1545px 1061px #fff, 1631px 1928px #fff,
        1397px 291px #fff, 1724px 127px #fff, 1237px 375px #fff,
        998px 618px #fff, 1618px 988px #fff, 713px 1172px #fff,
        705px 1532px #fff, 1900px 686px #fff, 81px 1748px #fff,
        1509px 1763px #fff, 1200px 1962px #fff, 728px 1600px #fff,
        1448px 615px #fff, 549px 573px #fff, 641px 1450px #fff,
        1853px 1799px #fff, 366px 1796px #fff, 1658px 978px #fff,
        1437px 1535px #fff, 1775px 1090px #fff, 684px 1933px #fff,
        1314px 935px #fff, 670px 591px #fff, 1936px 73px #fff, 816px 1177px #fff,
        439px 1711px #fff, 892px 1543px #fff, 1420px 1607px #fff,
        537px 1492px #fff, 103px 1341px #fff, 201px 766px #fff,
        934px 1649px #fff, 1671px 1248px #fff, 1389px 666px #fff,
        482px 256px #fff, 1516px 304px #fff, 118px 907px #fff, 1693px 91px #fff,
        1662px 1176px #fff, 1487px 1268px #fff, 26px 571px #fff,
        973px 864px #fff, 653px 1321px #fff, 419px 1317px #fff,
        1638px 1134px #fff, 582px 67px #fff, 1188px 1139px #fff, 218px 54px #fff,
        1889px 1742px #fff, 296px 294px #fff, 558px 1928px #fff,
        1661px 1296px #fff, 745px 1768px #fff, 1540px 939px #fff,
        650px 457px #fff, 83px 224px #fff, 1642px 775px #fff, 807px 1796px #fff,
        1453px 61px #fff, 1214px 1578px #fff, 611px 1642px #fff,
        759px 1757px #fff, 1402px 466px #fff, 598px 474px #fff, 981px 330px #fff,
        92px 28px #fff, 1784px 1269px #fff, 1649px 1212px #fff,
        1966px 853px #fff, 397px 1128px #fff, 1258px 1166px #fff,
        753px 1479px #fff, 854px 72px #fff, 1985px 1525px #fff,
        1577px 1826px #fff, 1789px 959px #fff, 1707px 1320px #fff,
        1211px 626px #fff, 494px 630px #fff, 1322px 897px #fff,
        861px 1102px #fff, 1273px 676px #fff, 1675px 1904px #fff,
        1281px 361px #fff, 1397px 447px #fff, 871px 274px #fff,
        807px 1869px #fff, 1426px 806px #fff, 1632px 1223px #fff,
        1549px 1910px #fff, 1714px 921px #fff, 1216px 1680px #fff,
        1351px 14px #fff, 1255px 1170px #fff, 1754px 676px #fff,
        1337px 329px #fff, 1586px 1260px #fff, 1644px 1981px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1530px 1502px #fff, 572px 1756px #fff, 493px 1738px #fff,
        242px 885px #fff, 1777px 182px #fff, 1538px 1321px #fff,
        946px 981px #fff, 711px 840px #fff, 1661px 1242px #fff,
        504px 1811px #fff, 827px 743px #fff, 1224px 388px #fff,
        500px 1119px #fff, 1172px 1741px #fff, 904px 1788px #fff,
        196px 1650px #fff, 1905px 1737px #fff, 1732px 1306px #fff,
        1563px 1096px #fff, 907px 1867px #fff, 1857px 662px #fff,
        798px 742px #fff, 1967px 1503px #fff, 1628px 196px #fff,
        1197px 186px #fff, 1934px 1863px #fff, 297px 1859px #fff,
        1361px 548px #fff, 732px 38px #fff, 670px 1432px #fff, 1556px 776px #fff,
        545px 877px #fff, 638px 418px #fff, 1520px 1780px #fff, 447px 341px #fff,
        1905px 82px #fff, 590px 1030px #fff, 635px 1072px #fff,
        1644px 1691px #fff, 1517px 1623px #fff, 1536px 1092px #fff,
        809px 975px #fff, 99px 1970px #fff, 1291px 776px #fff, 803px 1178px #fff,
        849px 1454px #fff, 612px 1558px #fff, 1779px 462px #fff,
        1508px 1182px #fff, 1779px 575px #fff, 1238px 1008px #fff,
        1268px 936px #fff, 1160px 871px #fff, 1165px 500px #fff,
        1916px 745px #fff, 1380px 336px #fff, 1104px 626px #fff,
        1150px 1823px #fff, 1077px 375px #fff, 1561px 790px #fff,
        1788px 1782px #fff, 1248px 530px #fff, 1313px 1804px #fff,
        1753px 1862px #fff, 1587px 95px #fff, 934px 1788px #fff, 77px 565px #fff,
        367px 459px #fff, 895px 1244px #fff, 1686px 1572px #fff,
        1356px 1529px #fff, 1315px 1901px #fff, 130px 1897px #fff,
        1435px 383px #fff, 168px 419px #fff, 648px 1021px #fff,
        1902px 1254px #fff, 1514px 1845px #fff, 622px 1952px #fff,
        271px 574px #fff, 948px 1953px #fff, 1382px 1945px #fff,
        1306px 354px #fff, 953px 895px #fff, 147px 510px #fff, 1237px 710px #fff,
        492px 1303px #fff, 990px 198px #fff, 1342px 1875px #fff,
        447px 1945px #fff, 983px 345px #fff, 615px 1558px #fff, 314px 828px #fff,
        1539px 1807px #fff, 1743px 1662px #fff, 1698px 859px #fff,
        1106px 910px #fff, 1627px 354px #fff, 1448px 1167px #fff,
        335px 376px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1530px 1502px #fff, 572px 1756px #fff, 493px 1738px #fff,
        242px 885px #fff, 1777px 182px #fff, 1538px 1321px #fff,
        946px 981px #fff, 711px 840px #fff, 1661px 1242px #fff,
        504px 1811px #fff, 827px 743px #fff, 1224px 388px #fff,
        500px 1119px #fff, 1172px 1741px #fff, 904px 1788px #fff,
        196px 1650px #fff, 1905px 1737px #fff, 1732px 1306px #fff,
        1563px 1096px #fff, 907px 1867px #fff, 1857px 662px #fff,
        798px 742px #fff, 1967px 1503px #fff, 1628px 196px #fff,
        1197px 186px #fff, 1934px 1863px #fff, 297px 1859px #fff,
        1361px 548px #fff, 732px 38px #fff, 670px 1432px #fff, 1556px 776px #fff,
        545px 877px #fff, 638px 418px #fff, 1520px 1780px #fff, 447px 341px #fff,
        1905px 82px #fff, 590px 1030px #fff, 635px 1072px #fff,
        1644px 1691px #fff, 1517px 1623px #fff, 1536px 1092px #fff,
        809px 975px #fff, 99px 1970px #fff, 1291px 776px #fff, 803px 1178px #fff,
        849px 1454px #fff, 612px 1558px #fff, 1779px 462px #fff,
        1508px 1182px #fff, 1779px 575px #fff, 1238px 1008px #fff,
        1268px 936px #fff, 1160px 871px #fff, 1165px 500px #fff,
        1916px 745px #fff, 1380px 336px #fff, 1104px 626px #fff,
        1150px 1823px #fff, 1077px 375px #fff, 1561px 790px #fff,
        1788px 1782px #fff, 1248px 530px #fff, 1313px 1804px #fff,
        1753px 1862px #fff, 1587px 95px #fff, 934px 1788px #fff, 77px 565px #fff,
        367px 459px #fff, 895px 1244px #fff, 1686px 1572px #fff,
        1356px 1529px #fff, 1315px 1901px #fff, 130px 1897px #fff,
        1435px 383px #fff, 168px 419px #fff, 648px 1021px #fff,
        1902px 1254px #fff, 1514px 1845px #fff, 622px 1952px #fff,
        271px 574px #fff, 948px 1953px #fff, 1382px 1945px #fff,
        1306px 354px #fff, 953px 895px #fff, 147px 510px #fff, 1237px 710px #fff,
        492px 1303px #fff, 990px 198px #fff, 1342px 1875px #fff,
        447px 1945px #fff, 983px 345px #fff, 615px 1558px #fff, 314px 828px #fff,
        1539px 1807px #fff, 1743px 1662px #fff, 1698px 859px #fff,
        1106px 910px #fff, 1627px 354px #fff, 1448px 1167px #fff,
        335px 376px #fff;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);

    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(130, 10, 10);
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.arrows path {
    stroke: #2994d1;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.conttainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 30px;
}
.conttainer .thumbex {
    margin: 10px 20px 30px;
    width: 100%;
    min-width: 250px;
    max-width: 435px;
    height: 300px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline: 2px solid white;
    outline-offset: -15px;
    background-color: blue;
    box-shadow: 5px 10px 40px 5px rgba(0, 0, 0, 0.5);
}
.conttainer .thumbex .thumbnail {
    overflow: hidden;
    min-width: 250px;
    height: 300px;
    position: relative;
    opacity: 0.88;
    backface-visibility: hidden;
    transition: all 0.4s ease-out;
}
.conttainer .thumbex .thumbnail img1 {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    height: 115%;
    width: auto;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
}
.conttainer .thumbex .thumbnail span {
    position: absolute;
    z-index: 2;
    top: calc(150px - 20px);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 50px;
    margin: 0 45px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.2px;
    transition: all 0.3s ease-out;
}
.conttainer .thumbex .thumbnail:hover {
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;
}
.conttainer .thumbex .thumbnail:hover span {
    opacity: 0;
}
